<div>
    <div class="head-img">
        <img src="../../../../../../assets/images/loginimg.jpg" alt="" width="100%" height="100%"
            style="object-fit: cover;" />
    </div>
    <div class="d-flex justify-content-center">
        <div class="width-side-left mr-5 ml-5 mt-4">
            <div class="bg-border-color text-center p-4 m-2">
                <div class="mb-2">
                    <img class="rounded-circle" height="40" src="../../../../../../assets/images/trust.jpeg"
                        alt="Generic placeholder image" />
                </div>
                <div>
                    <p class="font-weight-bold">
                        Light of life trust welfare association foundation
                    </p>
                </div>
                <div class="mt-2">
                    <button class="font-weight-bold button-style-yellow">View Profile</button>
                </div>
            </div>
            <div class="bg-border-color text-center pt-4 pl-4 pr-4 pb-2 m-2">
                <div class="d-flex justify-content-between m-1">
                    <div>
                        <img src="../../../../../../assets/images/Icon awesome-file-pdf.svg" alt="" height="20" />
                        <span class="font-weight-bold"> 80G </span>
                    </div>
                    <div>
                        <img src="../../../../../../assets/images/Icon awesome-file-pdf.svg" alt="" height="20" />
                        <span class="font-weight-bold"> 12A </span>
                    </div>
                </div>
                <div class="d-flex justify-content-between mt-3 ml-1 pb-4">
                    <div>
                        <img src="../../../../../../assets/images/Icon awesome-file-pdf.svg" alt="" height="20" />
                        <span class="font-weight-bold"> FCRA</span>
                    </div>
                    <div>
                        <img src="../../../../../../assets/images/Icon awesome-file-pdf.svg" alt="" height="20" />
                        <span class="font-weight-bold"> Trust </span>
                    </div>
                </div>
                <p class="font-weight-bold">Verified</p>
            </div>
            <div class="bg-card-color border-0 text-center p-4 m-2">
                <div class="card-body">
                    <div class="icon">
                        <div class="logo w-80">
                            <div class="">
                                <div class="logo__life">
                                    <img src="assets/images/location.svg" alt="" />
                                    <h4 style="color: #7e7e7e" class="small-heading my-3 font-size">
                                        Haryana
                                    </h4>
                                </div>

                                <div class="logo__clock">
                                    <img src="assets/images/clock.svg" class="" alt="" />
                                    <h4 style="color: #7e7e7e" class="small-heading my-3 font-size">
                                        8hours
                                    </h4>
                                </div>

                                <div class="logo__education">
                                    <img src="assets/images/Education.svg" alt="" />
                                    <h4 style="color: #7e7e7e" class="small-heading my-3 font-size">
                                        Social Media
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <p class="button-style-yellow bottom-left-tag">Social Media</p>
                <p class="button-style-yellow bottom-left-tag">Graphic Desgin</p>
            </div>
        </div>
        <div class="ml-5 width-side-right">
            <h3 class="bolderFont max-width-right-heading mt-4">
                Help feed of poor patients who wait outside hospitals
            </h3>
            <div class="mt-2">
                <h5 class="text-black-50 font-weight-bold">Monday, March 14, 2022</h5>
                <div class="mt-5">
                    <mat-tab-group class="m-2" color="transparent">
                        <mat-tab class="firstTab">
                            <ng-template mat-tab-label>
                                <span class="tab-heading">Description</span>
                            </ng-template>
                            <hr>
                            <div>
                                <h5 class="mt-4 mb-4">Description</h5>
                                <p [ngClass]="{ limitTextHeight: isReadMore }" class="text-black-50">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Dolore, maiores. Necessitatibus officiis, laborum eveniet,
                                    voluptate cupiditate amet rerum accusantium magnam a corporis
                                    aliquid repellendus dolores autem, fugiat cum enim. Impedit.
                                    Perferendis odio modi beatae hic animi ad sunt placeat ab
                                    voluptatum provident consectetur laudantium inventore, dolorum
                                    doloremque omnis, harum in, a recusandae dignissimos. Culpa
                                    beatae delectus quae, fugit aliquid blanditiis? Commodi quos
                                    voluptates necessitatibus incidunt in quisquam unde libero,
                                    suscipit voluptatum tempora atque vel nemo explicabo ex iste
                                    perspiciatis? Impedit, consequuntur dolores laudantium aperiam
                                    quaerat eius at est! Culpa, reprehenderit. Similique neque
                                    numquam magnam tenetur quaerat velit minima unde ullam laborum
                                    assumenda officiis eos vel, deleniti cupiditate ipsa cum aut
                                    magni. Repellendus asperiores maxime aliquid voluptatibus dicta
                                    quod velit accusamus. Maxime magni rem laborum mollitia totam,
                                    vel nisi fuga esse quaerat? Id dolorum quibusdam doloremque
                                    recusandae ut iure, quas nihil natus totam aut nam quam
                                    perferendis voluptas dicta, fugiat distinctio?
                                </p>
                                <p class="float-right text-muted" role="button" (click)="showText()">
                                    {{ isReadMore ? "more..." : "less" }}
                                </p>
                            </div>
                            <div>
                                <div class="d-flex justify-content-between align-items-baseline mt-5 w-60">
                                    <div class="d-flex flex-row">
                                        <p class="font-size-raised font-weight-bold">
                                            ₹10,121 &nbsp;
                                        </p>
                                        <span class="font-size-raised"> raised out of </span>
                                    </div>
                                    <p>50,000</p>
                                </div>
                                <div>
                                    <!-- add a slider with respect to payment -->
                                    <hr />
                                </div>
                                <div class="d-flex justify-content-between align-items-baseline w-60">
                                    <p class="font-weight-bold">147 supporters</p>
                                    <p class="font-weight-bold">10 days left</p>
                                </div>
                            </div>
                            <div class="mt-5">
                                <button class="mr-2 font-weight-bold pay-button">₹100</button>
                                <button class="mr-2 font-weight-bold pay-button">₹200</button>
                                <button class="mr-2 font-weight-bold pay-button">₹500</button>
                                <button class="mr-2 font-weight-bold other-amount" *ngIf="!isInputVisible"
                                    (click)="otherAmount()">Other Amount</button>
                                <input type="number" name="" id="" *ngIf="isInputVisible" class="w-10" />
                            </div>
                            <div class="mt-5">
                                <button class="font-weight-bold donate-now">Donate Now!</button>
                            </div>
                            <div class="email-attachments">
                                <div class="title">
                                    Attachments <span>(3 files, 12,44 KB)</span>
                                </div>
                                <ul>
                                    <li>
                                        <a href="" (click)="(false)"><span class="feather icon-file"></span>
                                            Reference.zip
                                            <span class="text-muted tx-11">(5.10 MB)</span></a>
                                    </li>
                                    <li>
                                        <a href="" (click)="(false)"><span class="feather icon-file"></span>
                                            Instructions.zip
                                            <span class="text-muted tx-11">(3.15 MB)</span></a>
                                    </li>
                                    <li>
                                        <a href="" (click)="(false)"><span class="feather icon-file"></span>
                                            Team-list.pdf
                                            <span class="text-muted tx-11">(4.5 MB)</span></a>
                                    </li>
                                </ul>
                            </div>
                        </mat-tab>
                        <mat-tab class="secondTab">
                            <ng-template mat-tab-label>
                                <span class="tab-heading">All Supporters</span>
                            </ng-template>
                            <hr>
                            <div>
                                <div class="d-flex justify-content-between align-items-baseline mt-5 w-60">
                                    <div class="d-flex flex-row">
                                        <p class="font-size-raised font-weight-bold">
                                            ₹10,121 &nbsp;
                                        </p>
                                        <span class="font-size-raised"> raised out of </span>
                                    </div>
                                    <p>50,000</p>
                                </div>
                                <div>
                                    <!-- add a slider with respect to payment -->
                                    <hr />
                                </div>
                                <div class="d-flex justify-content-between align-items-baseline w-60">
                                    <p class="font-weight-bold">147 supporters</p>
                                    <p class="font-weight-bold">10 days left</p>
                                </div>
                            </div>
                            <div class="mt-5">
                                <div class="d-flex">
                                    <img src="../../../../../../assets/images/svg/profile.svg" alt="" />
                                    <div class="ml-3 text-muted">
                                        <p>Hitesh Rishi donated INR 2,100</p>
                                        <p>15 February, 2022</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5">
                                <div class="d-flex">
                                    <img src="../../../../../../assets/images/svg/profile.svg" alt="" />
                                    <div class="ml-3 text-muted">
                                        <p>Hitesh Rishi donated INR 2,100</p>
                                        <p>15 February, 2022</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5">
                                <div class="d-flex">
                                    <img src="../../../../../../assets/images/svg/profile.svg" alt="" />
                                    <div class="ml-3 text-muted">
                                        <p>Hitesh Rishi donated INR 2,100</p>
                                        <p>15 February, 2022</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5">
                                <div class="d-flex">
                                    <img src="../../../../../../assets/images/svg/profile.svg" alt="" />
                                    <div class="ml-3 text-muted">
                                        <p>Hitesh Rishi donated INR 2,100</p>
                                        <p>15 February, 2022</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5">
                                <div class="d-flex">
                                    <img src="../../../../../../assets/images/svg/profile.svg" alt="" />
                                    <div class="ml-3 text-muted">
                                        <p>Hitesh Rishi donated INR 2,100</p>
                                        <p>15 February, 2022</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5">
                                <div class="d-flex">
                                    <img src="../../../../../../assets/images/svg/profile.svg" alt="" />
                                    <div class="ml-3 text-muted">
                                        <p>Hitesh Rishi donated INR 2,100</p>
                                        <p>15 February, 2022</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5">
                                <div class="d-flex">
                                    <img src="../../../../../../assets/images/svg/profile.svg" alt="" />
                                    <div class="ml-3 text-muted">
                                        <p>Hitesh Rishi donated INR 2,100</p>
                                        <p>15 February, 2022</p>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>